.App {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  height: 100vh;
  max-width: 2000px;
}

.app-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px auto;
  background-color: aliceblue;
  box-shadow: -10px -10px 15px rgba(116, 111, 111, 0.5), 
      10px 10px 15px rgba(44, 43, 43, 0.12);
  border-radius: 12px;
  width: 98%;
  max-height: max-content;
  overflow: hidden;
}

h1 { 
	font: bold 300% Consolas, Monaco, monospace;
  border-right: .1em solid black;
  height: max-content;
  width: 16.5em; 
	margin: 2em 1em;
	white-space: nowrap;
  overflow: hidden;
  text-shadow:
  0 1px #808d93,
  -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93;
	animation: typing 2s steps(21, end),
	           blink-caret .5s step-end infinite alternate;
}

@keyframes typing { from { width: 0; } }
@keyframes blink-caret { 50% { border-color: transparent; } }